<div class="menu">
        <div class="menu-sub">
    <a href="about"><b>WHO ARE WE?</b></a>
    <a href="gallery"><b>BUY PRODUCTS</b></a>
    <a href="contact"><b>WANNA INTERN? EMAIL US</b></a>
</div>
</div>

<h1 align="center">GALLERY</h1>
<p id="test" align="center">We have some amazing merchandise that you can buy!</p>

<form method="POST" action="/placeorder">
<div>
<%= @pic1 %>
<img class="Kramers" src="Kramerica1.jpeg">
<input type="checkbox" name="Kramerica1" value="Kramerica1.jpeg"><b>ORDER THIS?</b>&nbsp;Price: $29.99<br>
</div>
<br>
<div>
<%= @pic2 %>
<img class="Kramers" src="Kramerica2.jpeg">
<input type="checkbox" name="Kramerica2" value="Kramerica2.jpeg"><b>ORDER THIS?</b>&nbsp;Price: $19.99<br>
</div>
<br>
<div>
<%= @pic3 %>
<img class="Kramers" src="Kramerica3.jpeg">
<input type="checkbox" name="Kramerica3" value="Kramerica3.jpeg"><b>ORDER THIS?</b>&nbsp;Price: $44.99<br>
</div>
<br>
<div>
<%= @pic4 %>
<img class="Kramers" src="Kramerica4.jpeg">
<input type="checkbox" name="Kramerica4" value="Kramerica4.jpeg"><b>ORDER THIS?</b>&nbsp;Price: $24.99<br>
</div>
<input id="ordersubmit" type="submit" value="submit">
</form>
<p id="submittext"> When you're ready to purchase one or more of our wonderful products, click Submit!</p>


<!-- <a href="#" onclick="welcome()">LINK</a>
<a href="contact">CONTACT</a> -->
