<!-- <h1>HOMEPAGE</h1>
<%= @name %> -->

<!doctype html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <title>Kramerica Industries</title>


	       <link rel="stylesheet" type="text/css" href="styles.css">
	</head>

<div class="menu">
        <div class="menu-sub">
    <a href="about"><b>WHO ARE WE?</b></a>
    <a href="gallery"><b>BUY PRODUCTS</b></a>
    <a href="contact"><b>WANNA INTERN? EMAIL US</b></a>
</div>
</div>

<h1 id=kramericahead align="center">KRAMERICA INDUSTRIES</h1>
<h2 align="center">Making a world of difference</h2>
<img id=kramericapic src="http://kramersapartment.com/wp-content/uploads/darren-the-intern-3.jpg">
<img id=kramericapic2 src="http://kramersapartment.com/wp-content/uploads/darren-the-intern-3.jpg">

<p id="kramericatext"><b>Welcome to Kramerica Industries! We're here to meet your every need. What do we need? We need you... and we need a chicken. And with Darren's help, we'll get that chicken!</b></p>

	<body>

<div id="modalBG">
	<div id="myModal">

 <div class="modal-content">
    <span class="close">&times;</span>
    <p><b>We understand that it is quite annoying to be asked to donate. But Kramerica Industries is dedicated to a wonderful cause. Helping the environemnt, obviously, but also helping a young man achieve his dream of being an intern for a Kramer. Granted, Kramer is the last guy who's qualified to give a tour of reality. But by donating just $300.00 (USD), Darren will get a premium education. And maybe, just maybe, Kramerica will get that chicken.</b></p>
  </div>
